/* Student.css */

/* AppBar Styles */
.student-app-bar {
    background-color: #194D6C;
    height: 200px;
    margin-bottom: 50px;
}

.toolbar {
    min-height: 100px;
    justify-content: space-between;
    position: relative;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    margin-right: 16px;
}

.title-text {
    font-weight: bold;
    color: #FFFFFF;
}

.student-title {
    color: #FFFFFF;
    font-family: 'Times New Roman';
    font-size: 45px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

/* User Section */
.avatar {
    background-color: #FFFFFF;
    color: #194D6C;
}

/* Sidebar Styles */
.sidebar {
    padding: 0;
    margin-top: 152px;
    width: 240px;
    height: 100vh;
    background-color: #194D6C;
}

.menu-item {
    padding: 15px 20px;
    color: #FFFFFF;
    height: 10%;
    display: flex; /* Align icon and text */
    align-items: center; /* Center items vertically */
    border-radius: 5px; /* Rounded corners for a softer look */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.menu-item:hover {
    background-color: #FFFFFF;
    color: #194D6C;
}

/* Active Menu Item */
.menu-item-active {
    background-color: #FFFFFF;
    color: #194D6C;
}

.menu-icon {
    margin-right: 10px; /* Add some space between icon and text */
}
